tags
out
*.suo
*.vcxproj
cop4710-sequel.vcxproj.filters
*.exe
Debug/cop4710-sequel.ilk
*.log
Debug/cop4710-sequel.pdb
*.lastbuildstate
Debug/cop4710-sequel.tlog/link.command.1.tlog
*.tlog
Debug/sql.obj
*.obj
*.opensdf
cop4710-sequel.sdf
*.idb
Debug/vc120.pdb
